[2013-11-26 19:40] qrilka opened #4 "Create some proper tests for the library"

[2013-11-30 18:38] qrilka opened #5 "Add examples of xlsx reading/writing to haddocks"

[2013-12-14 10:52] qrilka opened #6 "Switch to tasty"
Seems to be more actual than test-framework

[2013-12-14 12:17] #6 closed, assigned to nobody

[2013-12-25 21:01] qrilka opened #7 "Create and implement xlsx rows streaming module"
Something like `xml-conduit` has

[2014-02-18 20:58] #5 closed, assigned to nobody

[2014-03-27 21:40] dbp opened #8 "Release a new version to hackage?"
It looks like this library has changed a lot since it was last released, almost 2 years ago. Any way it could get released again? Obviously it can be used from git, but it's more of a pain (and having docs on hackage is really convenient).

[2014-03-30 11:57] #4 closed, assigned to nobody

[2014-03-30 11:58] #8 closed, assigned to nobody

[2014-07-09 15:04] dckc opened #9 "ExitFailure 11 from cabal install xlsx on Mac OS X"
I just installed the haskell platform on this MacBook (OS X 10.6.8) and ran `cabal install xlsx`. After 20 minutes or so, it failed. I can't make much sense of the diagnostics.

I captured the [full output](https://gist.github.com/dckc/5c0df274b11c72383f76).

Other relevant diagnostic info I can think of:

[code]

[2014-08-08 15:42] Heimdell opened #10 "Doesn't work under windows."
I run parser under linux on file, and it went just fine. When operating same file (any one produces an error) under windows, it fails with the next message:

[code]

I can't upload an xlsx here, but its has the next contents: [[123, 234], [what, the]] in a square formation.
The office has russian locale (that does that unicode in xlSheet name, its a Sheet1 in russian - Лист1).

[2014-08-09 13:06] #10 closed, assigned to nobody

[2014-09-07 11:03] qrilka opened #13 "Add formula reading support"

[2014-10-03 11:51] nickela opened #14 "MS Excel 2010 has claims to generated by test executable test.xlsx file"
Excel 2010 говорит что  test.xlsx поврежден и после восставновления выдает пояснения: "Восстановленный компонент: часть /xl/worksheets/sheet1.xml с ошибкой XML.  Разрушительный сбой Строка 1, столбец 3282483.".
OpenOffice Calc открывает без проблем и если пересохранить открытый файл в xlsx формате, то уже Excel его открывает без нареканий.

[2014-10-22 07:27] alanz opened #15 "Parsec combinators?"
I am writing some Parsec combinators for my own use on top of this.

Do you want a pull request for them when I am done? I am not sure if they belong in this library.

[2014-10-30 11:52] alanz opened #16 "Sheet ordering in Spreadsheet"
A spreadsheet is defined as

[code]

Because the sheets are a `Map`, I cannot generate a spreadsheet having sheets in a specific order.

[2014-12-03 09:03] #14 closed, assigned to nobody

[2014-12-05 15:49] danchoi opened #18 "Perhaps move Lens functions to a separate package?"
Including the lens library brings in a lot of dependencies and makes the package brittle to build.

I looked a the functions and types, and it seems that a base library that excludes lens would still be very useable, with lens only adding additional convenience functions.

Would it make sense for a more minimal base package that excludes lens, and then another package that adds lens functionality?

[2015-08-04 11:20] mb21 opened #21 "Worksheet -> [[Text]] function?"
This is not really urgent, but I was thinking of adding xlsx support (in addition to csv) to the [pandoc-placetable filter](https://github.com/mb21/pandoc-placetable), so I'd need a `Worksheet -> [[Text]]` function.

I guess I could come up with the fold `Map (Int, Int) Cell -> [[Cell]]` myself somehow (although there might be a neater way using Lens.Traversal?), but how about a `Cell -> Text` fun

[2015-08-04 16:24] qrilka commented on #21
Currently xlsx does not support cell formatting - `Styles` is just a wrapper around a bytestring. I suppose it is required for your filter, right?

[2015-08-04 21:22] mb21 commented on #21
Yeah, I mean exporting to csv from a spreadsheet program usually preserves that kind of formatting... so without that I'm kind of hesitating to add xlsx as a dependency... thanks anyway :)

[2015-08-04 21:35] qrilka commented on #21
I'll try to look into that area but no particular promises at the moment

[2015-09-14 08:09] fegu opened #23 "Missing columns bug"
In some cases there are missing data in the parsed Excel sheet. To reproduce:

Get [small example sheet](http://applikativ.no/TNM.xlsx)

in ghci:

import Codec.Xlsx
import qualified Data.ByteString.Lazy as L
import qualified Data.Map as Map

e <- L.readFile "TNM.xlsx"
let lx = _wsCells $ snd $ head $ Map.toList $ _xlSheets $ toXlsx e
map (\c -> (Map.!) lx (2,c)) [2..6] -- this is ok
map (\c -> (Ma

[2015-09-14 18:32] qrilka commented on #9
Closing as I have no Mac to recheck it and no other volunteers to do that

[2015-09-14 18:32] #9 closed

[2015-09-14 18:40] qrilka commented on #23
@fegu could you show your GHCi output?
Mine shows 5 columns for both rows:
[code]

[2015-09-17 19:00] fegu commented on #23
Hi, yes, there are 5 columns, but the content I get is wrong. One column is missing and all other data for that row shifted left to fill the void.

    [Cell {_cellStyle = Just 2, _cellValue = Just (CellDouble 42254.0)},Cell {_cellStyle = Nothing, _cellValue = Just (CellText "5504542218")},Cell {_cellStyle = Nothing, _cellValue = Just (CellText "SYSTOR VEST AS")},Cell {_cellStyle = Nothing, _cellV

[2015-09-19 11:20] qrilka commented on #23
Thanks @fegu
It appears that there was a bug with empty shared strings, i.e. your file contains the following entry:
[code]
And as rich string support required some refactoring of shared strings parsing code this bug was also fixed as a side effect.

[2015-09-19 11:20] #23 closed

[2015-09-29 17:42] HalosGhost opened #25 "Switch to Data.Time instead of System.Time"
Using the ``old-time`` package is becoming more and more of a chore. It would really be great to see this package transition over to using the more modern ``Data.Time`` from the ``time`` package.

[2015-09-29 19:14] qrilka commented on #25
thanks
sound OK to me though backwards incompatible change means major version needs to be changed

[2015-09-29 19:25] HalosGhost commented on #25
:+1:

[2015-09-29 19:32] HalosGhost opened #26 "Use (x,y) coordinates instead of (y,x)"
Even cell names in Excel itself are referred to using ``(x,y)`` (though it uses a slimmed down syntax and substitutes letters for numbers in the ``x`` coordinate).

On a cartesian plane (or anything similar), everyone is taught always that coordinates will be of the form ``(x,y)`` where ``x`` is the “run” and ``y`` is the “rise”. There are only a few cases out there which are exceptions; in fact,

[2015-09-29 20:08] qrilka commented on #26
Actually Excel has 2 formats - both `(x,y)` and `(y,x)` :)
Though the second one (RC or row-column format) is not very widely known.
And yet I like your idea as ordinary x-y format is a bit more intuitive and put it into 0.2 (probably dumping streaming to some further release) but also some very large warning will be needed about such change :)

[2015-09-29 20:12] HalosGhost commented on #26
Wow, I had no idea that existed in Excel (that's bad and Microsoft should feel bad). Either way, I'm glad to hear that you're open to this. When I stumbled upon that syntax in ncurses, it was a terrible revelation, but it's so widely used now that there's no way to change it.

[2015-09-29 20:18] qrilka commented on #26
There are other opinions on that - I think Joel Spolsky in his "You suck at Excel" was showing that he uses RC format which is a bit more logical if you start looking into columns after the column Z :)

[2015-09-29 20:24] HalosGhost commented on #26
Yeah, column-counting later on is cumbersome, but I think that says more about Excel itself than its users. For example, a really cool spreadsheet program called [Teapot](http://linux.maruhn.com/sec/teapot.html) foresook worksheets and lettered colums in favor of a true "3D" coordinate plane using a syntax like ``@(col,row,layer)`` where ``col``, ``row`` and ``layer`` are all 0-indexed integers.

[2015-09-30 14:56] HalosGhost opened #27 "Preserve Column Width formatting (in Parser and Writer)"
I have now gotten to the point where I am programmatically generating a ``.xlsx`` correctly using this library, which is a great start! Now, I am needing to set some column widths so that the spreadsheet displays sensibly on opening in Excel.

When I attempt to set the ``_wsColumns`` record field in my ``Xlsx``, everything compiles correctly and the ``.xlsx`` is created as-expected. However, when

[2015-09-30 15:10] qrilka commented on #27
Probably a bug :)
Thanks for reporting it
I'll try to reproduce it later in the evening

[2015-09-30 15:11] HalosGhost commented on #27
Great, thanks! I look forward to hearing what you find!

[2015-09-30 19:41] qrilka commented on #27
it looks like I have only Excel 2013 at hand - it does not complain about a test workbook having columns set by `wsColumns .~ [ColumnsWidth 1 10 4.5 0]` but Open XML Productivity Tool complains about that `0` style marker, could you attach your file?

[2015-09-30 19:52] HalosGhost commented on #27
I will create a test file similar to the one I had, and post it for you (either soon today or early tomorrow).

[2015-09-30 19:53] qrilka commented on #27
and a test workbook from your Excel version also won't hurt :)

[2015-09-30 19:53] qrilka commented on #27
thanks

[2015-10-01 14:14] HalosGhost commented on #27
Well, I hate to be in this situation, but I can no longer recreate the case and I have no idea what could have caused it nor what I could have done that would have fixed it…

The good news is that I have it completely functional now… I am sorry to have bothered you without cause, and if it happens again, I will make sure to document my case more carefully ahead of time!

[2015-10-01 14:14] #27 closed

[2015-10-01 19:33] qrilka commented on #27
Could you probably provide some good example with proper columns?
I think I had some example when I was starting to create this library but now I almost don't use it so real life example would be cool addition to library docs.
Thanks.

[2015-10-01 20:15] HalosGhost commented on #27
Sure, I could try to throw one together for you.

[2015-11-11 13:40] edsko opened #28 "Add support for creating stylesheets"
I have this implemented in a branch in my fork (https://github.com/edsko/xlsx/blob/pr/create-styleSheets/src/Codec/Xlsx/StyleSheet.hs). Will submit a PR once I've tested this a bit more and used it in production. Opening this issue so that you know it's in the works.

[2015-11-11 13:40] edsko opened #29 "Add support for writing spreadsheets with cells containing rich text"
I'm working on a PR for this. Opening an issue so that you are aware it's in the works.

[2015-11-11 14:16] qrilka commented on #28
Thanks a lot, eager to get it in the lib :)

[2015-11-12 13:45] edsko commented on #29
Ok, preliminary version of this is done; I've tried to keep the changes to the existing code minimal, so there are two completely new modules (https://github.com/edsko/xlsx/blob/pr/support-rich-text/src/Codec/Xlsx/SharedStringTable.hs and https://github.com/edsko/xlsx/blob/pr/support-rich-text/src/Codec/Xlsx/RichText.hs) and only a handful of changes to the rest, the main one being

[code]

I will

[2015-11-17 13:30] edsko commented on #26
I don't have a very strong preference for either addressing format, but given that `(y,x)` is embedded in the library now, I'd be afraid it will cause lots of bugs in client code if you change it around. My vote is against.

[2015-11-19 20:16] hanjoosten commented on #28
Yes, I'm looking foreward to this PR too! In my project I need to be able to write .xlsx files that contain different cell types (String, Bool, Date etc.). Being able to colour different cells differently would be awsome too.
Thanks in advance!

[2015-11-19 21:02] edsko commented on #28
Will submit this soon. Meanwhile you can use my `dev` branch if you want to try it out.

[2015-11-23 21:41] #26 closed

[2015-11-23 21:42] qrilka commented on #26
So I've decided just to add X-Y style accessors for those who could need them

[2015-11-23 21:48] qrilka commented on #18
@danchoi do you still want this to be done? Almost a year passed already and for myself I don't see much motivation to remove `lens` dependency. Please raise your voice - otherwise I'll close this issue tomorrow

[2015-11-23 21:50] danchoi commented on #18
Go ahead an close. I don't think I have time either, but I'll let you know if I manage to do it. Thank you for writing the library.

[2015-11-23 21:50] #18 closed

[2015-11-25 07:35] edsko opened #31 "Add support for SheetViews"
PR forthcoming for this as well.

(I'm submitting all these PRs in one go because I'm still polishing some of the code occassionally and don't want to bother you will a PR only then to subsequently send more PRs to change the code again.)

[2015-11-25 08:31] qrilka commented on #31
no available branch yet?
what are those views about?

[2015-11-25 08:33] edsko commented on #31
No, not yet. Later today. The views allow you to specify stuff like "keep these cells visible when scrolling"; see `sheetViews` in the spec (2nd edition, section 18.3.1.88, "sheetViews (Sheet Views)", p. 1884).

[2015-11-25 08:35] qrilka commented on #31
oh, it's from the Excel itself, ok, thanks

[2015-11-25 12:35] edsko commented on #31
Preliminary version available at https://github.com/edsko/xlsx/tree/pr/support-sheetviews

[2015-11-25 15:05] edsko opened #34 "Support setting print options"
Stuff like landscape and repeated rows/columns. Opening an issue only so that you know I'm working on this; PR to follow.

[2015-11-26 12:00] edsko commented on #34
Repeated rows/columns implemented by #35. Page setup implemented in https://github.com/edsko/xlsx/tree/pr/support-pagesetup. PR for all this stuff hopefully to follow before the week's end.

[2015-11-30 08:43] qrilka opened #37 "Update references from #36"
Those were from the 2nd edition, it's better to use the latest 4th edition instead.
Also border elements need order slightly fixed

[2015-11-30 08:44] qrilka opened #38 "Remove raw sheet views & page setup"
Those were introduced in #36, it's better to have direct access for those things in 0.2

[2015-11-30 21:19] qrilka commented on #28
closed by #36

[2015-11-30 21:19] #28 closed

[2015-11-30 21:19] qrilka commented on #31
closed by #36

[2015-11-30 21:19] #31 closed

[2015-11-30 21:19] qrilka commented on #34
closed by #36

[2015-11-30 21:19] #34 closed

[2015-11-30 21:19] qrilka commented on #29
closed by #36

[2015-11-30 21:19] #29 closed

[2015-11-30 21:42] #37 closed

[2015-12-02 19:17] hanjoosten opened #39 "Documentation of xlsx isn't generated on Hackage"
On hackage, xlsx does not build correctly because of tab characters in the source files. See [this log](http://hackage.haskell.org/package/xlsx-0.1.2/reports/2) for the details.

[2015-12-02 21:09] qrilka commented on #39
I see failure because of failed installation of `semigroupoids` and warnings from `binary-search` package.
All of that has not much to do with the package.
Or please explain me where I am wrong assuming this.

[2015-12-03 13:04] hanjoosten commented on #39
The reason I opened this issue is that hackage failed to generate the documentation of xlsx. I didn't look well enough, so I thought it was due to the tabs.

I agree that semigroupoids fails to build for xlsx. This is strange, because semigroupoids does [build correctly on hackage](https://hackage.haskell.org/package/semigroupoids-5.0.0.4).

Looking better at the log, it says:

[code]

However, lo

[2015-12-03 13:32] qrilka commented on #39
The first failure from the last log talks about
[code]
So I'd suppose that it's something with package building on hackage itself. As for me I don't have much knowledge about it so I'm not sure how could I help here.
I think there was a way just to upload haddocks, that could at least add the documenation.

[2015-12-04 22:20] #38 closed

[2015-12-05 19:15] #25 closed

[2015-12-10 19:21] qrilka opened #41 "Make shared strings table work with rich texts"

[2015-12-14 19:52] qrilka commented on #41
Fixed by 229f02f10b76819b42972058c6b8f7bbcee3f3b5

[2015-12-14 19:52] #41 closed

[2016-03-17 20:04] qrilka commented on #39
It looks that it was some temporary hackage problem, the last version 0.2.1 has haddocs

[2016-03-17 20:04] #39 closed

[2016-04-05 07:46] hanjoosten opened #45 "Strange ordering in rows/cells"
In [Ampersand](https://github.com/AmpersandTarski/ampersand) we gratefully use xlsx to import information from Excel sheets. One in a while however, we get [strange results](https://github.com/AmpersandTarski/ampersand/issues/355).

During diagnosis, I have discovered that reading excel sheets contains a bug. I have stripped an excel sheet to get a tiny example of a sheet that has this bug:

[Exce

[2016-04-05 08:11] qrilka commented on #45
Hello @hanjoosten
Thanks for reporting this - my tests show that it seems to come from the problem fixed in #44 - I will release new library version this evening, sorry for not doing that earlier

[2016-04-05 08:49] hanjoosten commented on #45
Great! I'm looking foreward to the release. Thanks! I'll let you know if this solves my issues too.

[2016-04-05 09:10] qrilka commented on #45
meanwhile you could checkout the version from the master if you have time for it

[2016-04-05 15:41] qrilka commented on #45
New version is on hackage

[2016-04-06 21:53] hanjoosten commented on #45
Tested and confirmed. Thanks!

[2016-04-06 21:53] #45 closed

[2016-04-22 23:48] gmachine1 opened #46 "Support cell comments and cell formulas."
I would like Cell to have two additional attributes: comment and formula. I need this for a project I am working on, and I am reading the code to figure how to implement them myself. If you could briefly describe how to go about adding these, that would save me much time. I hope to have this by Tuesday, April 26th, so if this is a simple change that you could complete by then, even better!

Thanks

[2016-04-23 02:42] gmachine1 commented on #46
I believe I see how to support comments. In fromXlsx, generate and add an XML file for the comments, and in toXlsx, parse that XML file. I'll implement that.

[2016-04-23 06:50] qrilka commented on #46
hi @gmachine1
thanks for you interest in this library
and about comments - have you seen item 18.7 "Comments" in Ecma OOXML Part 1 spec?
And rnc schemas give good overview of XMLs, also be aware of the fact that relationship file seems to be needed (mapping worksheet to comments file), for that please check Part 2 of the spec, let me know how could I help you with implementing comments support.
BT

[2016-04-29 05:49] qrilka commented on #46
Hi @gmachine1 did you have any success with this? I was thinking about adding that feature but if you have some code - I'd be glad to use it

[2016-04-29 18:12] gmachine1 commented on #46
Hi @qrilka I worked on it a bit and then stopped, because my contract from the company for which I was doing this had ended and was not continued. I sent them the code I had written for this, and they said they will try to finish it off. If you like, I can ask them to get in contact with you.

[2016-04-29 19:27] qrilka commented on #46
If it's not a problem - please do, thanks

[2016-05-02 21:28] ooblahman opened #47 "Reading/writing images"
Would be wonderful to have a function which takes an image (FilePath) and embeds it in the xlsx, such that it is visible when opened by Excel. The function signature might look something like
[code]
My understanding is that this image would be stored as a separate file in the xlsx, then referenced by pathname in the document XML. Ideally, there would also be functionality for reading images from a

[2016-05-08 20:18] qrilka commented on #46
I've created https://github.com/qrilka/xlsx/tree/comments to resolve comments topic - parsing is done and writing comments is in the works

[2016-05-11 21:56] qrilka commented on #46
Regarding cell formulas there is #13 though it talks only about reading them (but could be reformulated)

[2016-05-11 22:19] qrilka opened #49 "Improve relationships support"
As in #48 new relationship files were introduced it makes sense to move them into a separate entity with proper  serialization and deserialization

[2016-05-11 22:20] #46 closed

[2016-05-13 20:33] qrilka commented on #47
Hi @ooblahman I have looked into the spec and it looks that the situation is a bit more complex that you describe (though not that much if we take only images into consideration).
Images are inserted using Drawing ML part of the spec and particularly for xlsx using `SpreadsheetML Drawing` part of it (see section 20.5)
So a worksheet could have some drawings in it which are stored in separate xml f

[2016-05-18 05:46] #49 closed

[2016-06-23 22:08] vesten opened #51 "Problem reading fonts"
When run over the attached Excel file, the StyleSheet returned by parseStyleSheet shows only two Font structures when the xml from ex/xl/styles.xml shows five.
[ex.xlsx](https://github.com/qrilka/xlsx/files/330903/ex.xlsx)

[2016-06-23 22:16] qrilka commented on #51
Hi @vesten thanks for reporting this.
It looks like `xlsx` merges equal fonts from XML into 1 `Font` record.
But that could lead to errors  - e.g. in that file I see `xf` records referencing all of those 5 entries.
I'll try to look into it later this week

[2016-06-23 22:36] vesten commented on #51
Hey @qrilka thanks for responding so quickly. If I can offer any further help diagnosing or testing, please don't hesitate to ask.

[2016-06-25 11:54] qrilka commented on #51
For some reason value `0` (Not applicable) of font family was missing from parsing code, that was fixed by ba1da12cf69bf86e3f1fb6286238d2d1a08ca0c1
@vesten how did you create that file? I see "LibreOffice" in it's props
Spec doesn't say much about that "Not applicable" font family option and it would be interesting to find out what could it be used for.

[2016-06-25 11:54] #51 closed

[2016-06-26 01:09] vesten commented on #51
Verified. The new release works great. Thanks @qrilka for taking the time to investigate and provide a fix. And to answer your question, the file was created with LibreOffice Calc (4.3.3.2, build id: 430m0(Build:2) under Debian Jessie. Upon 'Save As' I selected the xlsx format and was asked to confirm the format again via a pop-up dialog.

[2016-06-29 13:11] vesten opened #52 "Font attribute <strike/> is not being parsed correctly."
In the attached .xlsx file, the cell C2 has the font attribute &lt;strike/&gt; however it parses (_fontStrikeThrough) as a 'Nothing' value. [foo.xlsx](https://github.com/qrilka/xlsx/files/339317/foo.xlsx)

[2016-06-29 20:11] qrilka commented on #52
Yeah, it appears we don't treat elements with defaults properly.
Fixing only `strike` is easy but I guess I will need to check other such cases also (e.g. `<u/>` should be treated as `Just FontUnderlineSingle`).
Thanks for reporting it.

[2016-07-01 21:07] qrilka commented on #52
Fixed by 9f87050bb617e8eac78f150d4903eeb09272e23a

[2016-07-01 21:07] #52 closed

[2016-07-02 03:08] vesten commented on #52
The fix works well. Thanks @qrilka for the time attention.

[2016-07-05 22:21] vesten opened #54 "Default values from the spec"
Reading through the spec I found some default values that don't agree with those in StyleSheet.hs. I seem to be able to rationalize all but the Font defaults - they seem to not agree with empirical evidence. Please see my notes, [notes.txt](https://github.com/qrilka/xlsx/files/348746/notes.txt).

Further, I wonder if it might be worth considering modeling the record fields with default values with

[2016-07-05 22:47] qrilka commented on #54
hi @vesten
yes, there is a "problem" with those values having defaults.
your file doesn't quite describe what do you see as wrong - could you be more specific?
As for the getting rid of `Maybe` - I'd like to but that just doesn't work at least "out of the box".
In xml you could specify not just e.g. `False` and `True` but also combinations like `True` specified, `True` set by element by default, `

[2016-07-06 00:22] vesten commented on #54
Hi @qrilka
A PR is no problem (#55), though I rather clumsily didn't pay enough attention to how I based by changes. The only deltas that matter are the Default instances near the bottom of StyleSheet.hs.

Also, there was nothing wrong per se. I only noticed the spec sporadically offered default values and the Default instances in StyleSheet.hs uniformly declared 'Nothing' as the default. I wasn't

[2016-07-12 06:02] #54 closed

[2016-07-28 21:20] qrilka commented on #13
Basic formula support added in 1361c0dcc28d90dc36ebc03b2a1d6294c0f65a3c

[2016-07-28 21:20] #13 closed

[2016-07-31 11:41] qrilka opened #57 "Ensure that cell merges implementation works ok across different programs"
It looks e.g. that merges from Google Sheets don't work 100% correct in LibreOffice and  result from MS Office isn't 100% what the spec says (extra cells with styles appear in results from all of these 3 products but different in every case)

[2016-07-31 12:10] qrilka opened #58 "Support more per column properties"
there is (not quite detailed) `_wsRowPropertiesMap` but for columns there are only withd in `_wsColumns` while `<col>` element supports more options (e.g. `hidden` or `collapsed`) and e.g. `cwStyle` doesn't look like something about column width

[2016-07-31 12:12] qrilka commented on #58
and also that `style` attribute is optional while being required in `ColumnsWidth`

[2016-08-06 12:41] qrilka opened #61 "Add high level helpers to read/write images"
Raw access to xlsx structures is quite complicated and not very user-friently, we need something better at least for basic tasks

[2016-08-06 12:41] qrilka commented on #47
I will close this one after merging https://github.com/qrilka/xlsx/pull/60 and #61 is the continuation of this one

[2016-08-06 21:34] #47 closed

[2016-08-12 17:36] vesten opened #62 "Cannot parse an empty workbook"
Creating a new workbook and saving as 'Book0.xlsx', then executing

                toXlsx <$> Data.ByteString.Lazy.readFile "Book0.xlsx"
in GHCi results in

    *** Exception: MissingFile "xl/sharedStrings.xml"

[Book0.xlsx](https://github.com/qrilka/xlsx/files/415862/Book0.xlsx)

[2016-08-12 18:25] qrilka commented on #62
Thanks @vesten, looks like too tight constraint was used, I will look into it later today.
How critical is it for you? Last changes in `Formatted` make me think about version `0.3.0` already and I wanted to push a bit more changes into it maybe :)

[2016-08-12 18:33] vesten opened #63 "Parsing minimal workbooks containing images results in exception"
Converting any of the attached workbooks to an Xlsx type results in the exception,

          *** Exception: InvalidFile "xl/media/image.{gif,png,jpeg}"

In each case a single image file 'smiley.{gif, jpg, png}' was inserted to a newly created workbook and the file was saved.

[BookGif.xlsx](https://github.com/qrilka/xlsx/files/415948/BookGif.xlsx)
[BookJpg.xlsx](https://github.com/qrilka/xlsx/fil

[2016-08-12 18:58] qrilka commented on #63
Ouch once again :)

[2016-08-12 19:07] qrilka commented on #63
@vesten how did you put images into those files? Using Excel, right?

[2016-08-12 19:23] vesten commented on #63
Yes, from Excel. Insert menu, Picture icon on ribbon bar. FWIW, Office Prof Plus 2010 at work.

[2016-08-12 19:27] vesten commented on #62
No stress here. I can sit on v0.2.3 for a while. Thanks for asking though.

[2016-08-12 19:33] qrilka commented on #63
Thanks

[2016-08-12 20:16] qrilka commented on #63
@vesten could you try out the last `develop`? 51d886dfddb7e1f67de181139525a10627b7ec07 should fix this problem

[2016-08-12 21:53] qrilka commented on #62
Fixed by ecf9097]

[2016-08-12 21:53] #62 closed

[2016-08-12 23:34] vesten commented on #63
Yup, that does it. Verified issue #62 & #63. Many thanks @qrilka.

[2016-08-13 07:43] #63 closed

[2016-08-16 22:10] #16 closed

[2016-09-27 14:15] kvanberendonck opened #65 "Invalid zip archive error when opening xlsx file"
Error
[code]

Link to file
http://fsaeonline.com/content/tblMaterials_2015.xls

Code
[code]

[2016-09-27 15:36] qrilka commented on #65
Thanks for the report, I'll check it out later today, did you try version 0.3.0?

[2016-09-27 20:07] qrilka commented on #65
@kvanberendonck I have missed the obvious thing - that's an XLS file and the library is about XLSX file format only

[2016-09-27 20:07] #65 closed

[2016-09-27 22:37] kvanberendonck commented on #65
Ah sorry mate

[2016-11-28 13:54] Shimuuar opened #68 "library cannot parse comment created by libreoffice calc"
Attempt to parse XLSX file with comment which was created by libreoffcie 5.2.3 (from debian testing) results in

[code]

Here is file which triggers bug. Simply a single cell with comment
[testcase2..xlsx](https://github.com/qrilka/xlsx/files/616372/testcase2.xlsx)

[2016-11-28 14:13] qrilka commented on #68
Ouch, thanks for the report.
I think `authorId` was mentioned as required in the spec - I'll take a look later today.

[2016-11-28 19:26] #68 closed

[2016-11-28 19:27] qrilka commented on #68
Unfortunately no hackage release yet - I'd like to finish pivot tables to make a new major release

[2016-11-28 19:29] qrilka opened #69 "Check `contents` use in other places"
#68 is already the 2nd time when `contents` not accepting empty tag resulted in library error.
So it makes perfect sense to recheck other places where it's currently used

[2016-11-28 19:30] qrilka opened #70 "Pivot tables support"

[2016-11-29 11:22] Shimuuar commented on #68
Not a problem. It's not urgent and I can always use version from git if I need it

Thank you!

[2016-12-20 20:59] #70 closed

[2016-12-25 09:49] stla opened #72 "write file example to be repaired (Windows)"
Hello,

On Windows, using Microsoft Excel 2010, this is what I get when I run [this example](https://hackage.haskell.org/package/xlsx-0.4.0/docs/Codec-Xlsx.html) and open the file:

![capture1](https://cloud.githubusercontent.com/assets/4466543/21470577/a0607e3e-ca8f-11e6-820b-471fd6f62af5.PNG)

![capture2](https://cloud.githubusercontent.com/assets/4466543/21470579/a9c7b92e-ca8f-11e6-90e7-bad1eb9

[2016-12-31 15:03] qrilka commented on #72
Thanks for reporting - I'll work on it

[2016-12-31 16:04] stla commented on #72
Do you know the xlsx file ? I could send it to you.

[2016-12-31 16:25] qrilka commented on #72
Sure I can recreate one but please sent yours just to be sure that we talk about the same thing, thanks.

[2016-12-31 16:43] stla commented on #72
Ok, I've just sent it to your gmail adress.

[2017-01-03 17:21] qrilka commented on #72
hi @stla sorry for being slow - first it was my vacation then some virus hit me :-\
please check out bc08532 which is already in `master` - if the result looks OK then I'll release it as `0.4.1`
Thanks

[2017-01-03 19:23] stla commented on #72
I have to install the package from github ? I'm not sure I will be able to do that, but I'll try.

[2017-01-03 19:32] qrilka commented on #72
@stla do you use `stack`?
with it it's just about adding
[code]
to your `stack.yaml`

[2017-01-03 20:00] stla commented on #72
I have `stack´, but for testing your package I'm using `cabal`. Do you know how to do with `cabal`?

[2017-01-03 21:46] qrilka commented on #72
I don't use `cabal` for quite some time already as there is `stack` giving more convenient interface.
You could test using the following scenario:
1. `git clone git@github.com:qrilka/xlsx.git`
2. `cd xlsx`
3. `cabal sandbox init`
4. `cabal install`
5. create a file `testHaddocks.hs` with test code:
[code]
6. `cabal exec runhaskell testHaddocks.hs`
7. check `example.xlsx` which you'll receive on th

[2017-01-03 22:14] stla commented on #72
I've managed to install. And yes, the problem has gone - the xlsx file is good !

[2017-01-04 19:35] qrilka commented on #72
Released as https://github.com/qrilka/xlsx/tree/0.4.1

[2017-01-04 19:35] #72 closed

[2017-01-12 08:31] stla opened #73 "Why can't we use the 0-th CellXf ?"
Hello,

 I wanted to create a xlsx file with a date column. And no other column, just to try.
In my first attempt (see below), I set the number format id in the 0-th component of the field `_styleSheetCellXfs` of the `StyleSheet`. That does not work: the xlsx file is created, but the numbers are not formatted as dates.

My second attempt (see below) was successful. I let the 0-th component of  `_s

[2017-01-12 11:13] qrilka commented on #73
MS has wonders in its pockets :)
Actually I don't know what could be so special about xf 0 and spec says:
[code]
And at the moment I don't find anything else about it :(

[2017-01-13 06:17] stla opened #74 "Replace <variant> with <vt:variant> ?"
Hello,

 The XLSX files created by the `xlsx` library cannot be read by the Javascript library [js-xlsx](https://github.com/SheetJS/js-xlsx) nor by the R package [readxl](https://github.com/hadley/readxl). The first one returns an error, the second one returns an error or totally crashes R.

 I don't know the cause for `readxl`. I investigated a bit what happens with `js-xlsx`, and I found that it

[2017-01-13 06:46] qrilka commented on #74
That means that those packages can't read XML properly :)
`vt` is just a namespace prefix and it could be any string as far as it refers to a correct namespace.
But we could use "default" prefixes (and we do in some XMLs but not in every one of them).
Having more concrete errors could help a lot

[2017-01-13 06:50] stla commented on #74
That's the first time I get a problem with these packages. That shows that when I create a file with Excel (2010), it creates the `vt:` tags.

[2017-01-13 07:44] stla commented on #74
I gonna try to replace the tags in order to see whether this is the only problem. Too sad if we can't use `readxl` !

[2017-01-13 09:34] stla commented on #74
I've done it. In the file `app.xml`, I added the prefix `vt:` to `variant`, `vector`, `lpstr` and `i4`. Then `js-xlsx` correctly reads the file. But `readxl` still doesn't work. Maybe I will talk about that to @hadley.

[2017-01-13 17:26] stla commented on #74
I've found the problem: `readxl` crashes when the 0-th CellXf has no number format id !

[2017-01-13 17:35] stla commented on #74
I close since one can set a number format id with `xlsx` and then `readxl` works.

You're right about the `vt:`, this is an issue for `js-xlsx`.

[2017-01-13 17:35] #74 closed

[2017-01-16 22:16] stla opened #75 "cwStyle causes an Excel repair"
Hello,

 I tried to set column widths. The field `cwStyle` is mandatory. I don't know what it refers to. I set it to 1, so that I got
[code]
in my `sheet1.xml`. Excel does not like that, it has to repair the file:

[code]

I took a look at the repaired file. Excel did several modifications but the important one is that it removed the `style="1"`. Indeed, if I remove it:

[code]

then Excel opens t

[2017-01-17 05:49] qrilka commented on #75
Thanks for reporting - I'll look into it later today

[2017-01-17 19:41] qrilka commented on #75
@stla it appears to be a bug as `style` is optional having default value of `0`. Spec says only
[code]
I.e. they don't say directly that it's the same "pointer" into cellXfs as for cells but I suppose it is so.
And also this default of `0` could be some kind of explanation for #73

[2017-01-17 21:31] qrilka commented on #75
@stla please let me know if  f607a6f looks enough to close this issue

[2017-01-17 22:02] stla commented on #75
So, without using your update, I tried and I confirm it works with:
[code]
(previously I set `cwStyle=1`).

What is your update supposed to do ? To fix if `cwstyle` is mispecified ?

[2017-01-17 22:33] stla commented on #75
I tried your new version. With `cwStyle=1` there's the same problem. But I probably misunderstood what I'm supposed to try.

[2017-01-18 05:05] qrilka commented on #75
With the update you shouldn't be able to set `cwStyle=1` as the field type now is `Maybe Int`.
I.e. the update was about being able to set it to `Nothing`. From the other side as I understand it should work with `cwStyle=Just 1` if you'll add new `cellXf` record (which should get id `1`)

[2017-01-18 07:58] stla commented on #75
Are you sure ? I'll look later, but I'm pretty sure that I had `cwStyle :: Int` yesterday. I have your update since there is now a field `AutoFilter` in `Worksheet`.

[2017-01-18 08:22] qrilka commented on #75
I've referenced incorrect commit but https://github.com/qrilka/xlsx/commit/61e41a9e6a14324a7a0c2e123789631e3f39381a#diff-47e033d4407f05d43c094884d7c4194fR145 shows what I had in mind:
[code]

[2017-01-18 11:21] stla commented on #75
I do that but stack does not update:
[code]
I don't understand. This is the way I used yesterday.

[2017-01-18 11:37] stla commented on #75
Ok, I've used `git clone` and I replaced the previous download. It works with `cwStyle = Nothing`. Thank you !

[2017-01-18 11:53] #75 closed

[2017-01-19 12:22] stla opened #76 "toXlsx does not preserve the bold font in comments"
Hello,

 When I comment a cell in Excel, Excel automatically adds my name at the top of the comment, in bold font.

 This is what I get in `comment1.xml`:

[code]

When I read the xlsx file with `toXlsx` and when I rewrite it, without modifying anything, my name is not in bold font anymore.

This is the `XlsxText` I get when I read the file:

[code]

I think that `_runPropertiesBold` should be `Ju

[2017-01-19 19:42] qrilka commented on #76
Hi @stla that seems to be another place that needs to be fixed as a part of #69
I'll create a fix

[2017-01-19 21:15] qrilka commented on #76
Closed by 83907df

[2017-01-19 21:15] #76 closed

[2017-02-13 21:18] stla opened #77 "Commented empty cells aren't returned"
Hello,
 If a cell in an Excel sheet is empty (no value, no format) but commented, then it is ignored by `toXlsx`.

[2017-02-13 21:41] qrilka commented on #77
Interesting edge case, thanks @stla , I'll take a look into it

[2017-02-16 19:49] stla opened #78 "Three R packages cannot read the files created by xlsx"
Hello @qrilka

 You might be interested to know that three very good R packages fail to read the files created by your library: https://github.com/nacnudus/tidyxl/issues/13 (tidyxl, openxlsx, and the current development version of readxl).
Since these files can be opened in Excel and LibreOffice without issue, I agree that these packages should be able to read them. But perhaps you could do someth

[2017-02-16 20:26] qrilka commented on #78
@stla I think we have talked about using more standard namespace prefixes - I don't have any objections against it - it just means R library authors can't write XML parsing code correctly :)

[2017-02-16 20:38] stla commented on #78
They can, since the current released version of `readxl` can read the file.
Yes, we already talked about the `vt` namespace, but actually it was an issue with the Javascript library `js-xlsx`.

[2017-02-17 06:25] jennybc commented on #78
I assure you we R package authors understand XML parsing and namespacing.

In readxl, we wrap an external library, RapidXML, for it speed. Unfortunately, it does not genuinely support XML namespaces and we will have to patch it or workaround that some other way for xlsx that uses nonstandard namespace prefixes. Which seems to consist substantially of xlsx files written by this Haskell library. How

[2017-02-17 21:38] qrilka commented on #78
@stla could you check out 0ebcc90793bd366fc374dc501d3b295027acd587 ?
It fixes only 1 prefix in only 1 file - I guess that could be enough at least for your case.
If it is then I could release this quickfix as 4.3 alongside with sheet protection which is in the master already and with upcoming fix for #77

[2017-02-17 22:42] stla commented on #78
Hi @qrilka
I've just tried.

- `readxl`: I didn't manage to install the development version, so I can't say (permission denied to copy a dll - the laptop of my job company has a bunch of such funny features). I'll try later, maybe I need to delete the previous version.

- `tidyxl`: no change, reading the file still crashes the R session

- `openxlsx`: it still cannot read the file, but the error m

[2017-02-17 22:52] stla commented on #78
I finally managed to install `readxl` (perhaps I didn't need to delete the previous one, actually I had another opened session of RStudio).
*And yes, it works !!*

I will send the file to @nacnudus for `tidyxl`.

[2017-02-18 00:27] stla commented on #78
@qrilka
To conclude, your update is nice. The failure of `openxlsx` is not highly unfortunate, since we rather use this package for writing (`readxl` is better for reading).

[2017-02-18 14:30] qrilka commented on #77
Fixed by cb8d73e01c244b62c572c74c2673692d5b016a19

[2017-02-18 14:30] #77 closed

[2017-03-04 15:57] qrilka commented on #61
Fixed by 7ef13f5

[2017-03-04 15:57] #61 closed

[2017-03-04 15:59] qrilka opened #80 "Change cwWidth to Maybe Double and rename ColumnWidth type"
Follow-up for #79

[2017-04-15 13:04] qrilka commented on #80
Fixed by 80ba72447538c5cbac8dcfb0a18f69bdf1680ca5

[2017-04-15 13:04] #80 closed

[2017-04-23 10:51] taktoa opened #81 "Generic instances"
It would be nice if we could have `Generic` instances for all the datatypes in this library. This would make it easier for people using the library to define orphan instances (e.g.: for serialization).

In particular this would be useful because sometimes this library takes a long time (and a lot of memory) to parse large spreadsheets, so for development purposes I like to parse the spreadsheet an

[2017-04-23 11:34] qrilka commented on #81
@taktoa could you create a PR with those instances?
Regarding `binary` / `cereal` / `store` I don't think there is a high motivation to add an extra dependency and enlarge library build time so I'd prefer not to do that.
And regarding resource consumption - the library was never optimized from this point of view so if you have any good test cases it makes sense at least to explore them.

[2017-05-04 15:06] njeisecke opened #83 "Using 'formatted' with multiple sheets"
Hi!

With 'formatted' it is only possible to generate indexed styles for an xlsx with a single sheet because the input CellMap does not carry any information about the sheet a cell belongs to - CellMap is indexed by (row, column).

Applying 'formatted' separately for each sheet's cells result in one StyleSheet per sheet. However only one style sheet can be rendered and set for the xlsx and cells c

[2017-05-04 19:35] qrilka commented on #83
Yeah, you are right and `formatted` is worksheet-oriented. By itself it's kinda workaround for not doing that work in writing and parsing and was made by @edsko on top of existing code providing raw style ids. I wish I could find some time to provide more high level API :)
But could use a workaround just pass `StyleSheet` between `formatted` output and its next input.
A PR adding such a helper doi

[2017-05-05 08:31] njeisecke commented on #83
Thanks a lot for your comments - seems I was actually blind. Accumulating the style sheets with some foldr logic does exactly what I need.

I'm not sure it makes sense to offer a helper function doing that because the whole cell building process most likely depends on the specific use case.

However adding a simple example that builds an xlsx containing two sheets and some simple formatting with '

[2017-05-05 11:03] qrilka commented on #81
But also deriving typeclasses has some costs - https://twitter.com/taylorfausak/status/860347854413598721

[2017-05-05 18:38] qrilka commented on #83
For sure I'm open for a discussion :)

[2017-05-05 19:50] taktoa commented on #81
Oops, almost forgot about this. Check out PR #84.

[2017-05-05 20:15] stla opened #85 "Does FontFamily works ?"
Hello,

 I have the `FormattedCell` below, with `_fontFamily = Just FontFamilyDecorative`, but when I write the xlsx, there's no special rendering. Is it expected ? (I don't know what I'm supposed to see, actually).

`FormattedCell {_formattedCell = Cell {_cellStyle = Nothing, _cellValue = Just (CellText "abc"), _cellComment = Nothing, _cellFormula = Nothing}, _formattedFormat = Format {_formatAli

[2017-05-05 20:47] qrilka commented on #85
xlsx options could be not quite what you expect from them - I don't know myself what's the point behind this one but I'll take a look at it tomorrow

[2017-05-06 12:01] qrilka commented on #81
Resolved by #84

[2017-05-06 12:01] #81 closed

[2017-05-06 12:27] qrilka commented on #85
@stla it looks like that property is just some redundant information about fonts.
The spec isn't very specific:
[code]
I don't know why could that be needed in xlsx. My only hypothesis is that it came just as some legacy from Excel implementation.

[2017-05-10 15:22] stla commented on #83
:+1:
I came here for opening such an issue. I didn't think to the possibility of chaining.
I'm thinking about a function
`[Map (Int, Int) FormattedCell] -> (StyleSheet, [Worksheet])`

[2017-05-10 16:04] stla commented on #83
This seems to work. I'm not an expert in Haskell, maybe the code can be simplified.

[code]

[2017-05-13 10:17] stla opened #87 "error when installing 0.5.0"
Hello,
I've just installed `xlsx 0.5.0` but I got this error.

[code]

[2017-05-13 10:19] stla commented on #87
... but it seems to work

[2017-05-13 11:50] stla opened #88 "example chart (picture and not chart, finally)"
Hello @qrilka
I have tried to do a chart. I'm rather lost, so my attempt is a bit random.
I took your file `test/DrawingTests.hs` and I added the code below. The module compiles without issue, but there's no chart in the created xlsx. Could you please say me what I'm doing wrong? I hope my attempt makes sense, but it's possibly totally silly.

[code]

[2017-05-14 18:20] stla commented on #88
Now I'm afraid this is totally wrong. The `xml` file goes to the `media` folder, not to the `charts` folder...

[2017-05-14 18:31] qrilka commented on #88
Hi @stla - could you describe a bit what do you want to achieve as an end result?
Your code adds a picture but you talk about some chart - those are quite different drawing objects.
At the moment there's only  that `DrawingTests` module unfortunately though I was thinking about adding `examples` directory with basic code snippets for partucular features. And in `DrawingTests` you could check funct

[2017-05-14 18:35] qrilka commented on #87
@stla I don't have Windows so I'm not sure I will be able to replicate this.
And also that seems to be something more about `stack` and not `xlsx` package itself.
Also haddocks are not required to use a library as it's just a documentation so it's understandable that it works.

[2017-05-14 18:41] stla commented on #88
Hello @qrilka
I wanted to add a chart, not a picture. I will check the module you mention.

Now I understand that I add a picture, because the file goes to the `media` folder.
Actually I am also interested in adding a picture, but I don't know how to do as well. I've done an attempt. In my code above, I have replaced `renderChartSpace testScatterChartSpace` with the bytestring encoding of a pictur

[2017-05-14 19:15] qrilka commented on #88
@stla could you share that resulting xlsx file? Did you keep that `mytest.xml` file name? I'm not 100% sure that Excel accepts arbitrary file names here.
BTW to create a picture there's a helper named... `picture` :)

[2017-05-14 19:23] stla commented on #88
I use `picture`.
The file: https://www.dropbox.com/s/z7o0g67fazhps2t/chart.xlsx?dl=0

[2017-05-14 20:13] stla commented on #88
@qrilka
I see the picture in the sheet now. In `drawing1.xml`, I have replaced
[code]
with
[code]

[2017-05-14 20:29] stla commented on #88
[code]
is enough.

[2017-05-14 20:50] qrilka commented on #88
@stla I think the problem was around
[code]
In your file as units of those values are EMUs and 1000 EMUs is 0.00278 cm which is way beyond visible.
And it makes me wonder why preset geometry overrides those extensions :(

[2017-05-14 20:51] qrilka commented on #88
and for sizes there is `cmSize2D` helper, though it only accepts integer values :-\

[2017-05-14 20:52] stla commented on #88
Yes, I also had to increase these values. But this is not enough, I got just a transparent box.

[2017-05-14 21:01] stla commented on #88
The transparent box:
![screenshot 1](https://cloud.githubusercontent.com/assets/4466543/26037701/43555c18-38f9-11e7-9a1d-21a287912b99.png)

[2017-05-14 21:16] qrilka commented on #88
It looks like 2 cell anchor works OK but not 1 cell anchor (at least in Excel Online).
At the same time Google Sheets and LibreOffice work OK in both cases.
Looks like another undocumented detail of Excel implementation and it's not clear what to do about it...

[2017-05-15 09:41] stla commented on #88
Weird. Below is my full code, if you're interested. I get the picture by setting the "geometry".

[code]

[2017-05-15 14:28] stla opened #89 "hidden columns"
Hello,

 I've written a file with these options:

[code]
and my two columns are hidden. Is it expected ? I expected the opposite because of `cpHidden = False`.
(I did not take the time to try `cpHidden = True` yet)

[2017-05-15 17:26] stla commented on #89
It seems that `cpWidth = Nothing` was the smoking gun.
But what is `cpBestFit`? I expected an automatic width which fits the contents.

[2017-05-15 18:10] qrilka commented on #89
So missing width just hides a column like applying 0 width?
Excel is weird :-\

[2017-05-15 18:12] qrilka commented on #89
Regarding `cpBestFit` I could only quote the spec:

(original formatting from the spec preserved :) )

[2017-05-15 18:13] qrilka commented on #85
@stla could I use this issue or there's something else which could be done about it?

[2017-05-15 18:21] stla commented on #85
Yes, let's close.
In Excel there's nothing like "font family", that's weird.
Thanks.

[2017-05-15 18:21] #85 closed

[2017-05-15 18:24] stla commented on #89
It is really hidden. I have to click on "unhide" in order to see it.
I have downloaded LibreOffice for Windows, but not tried.

[2017-05-15 18:27] stla commented on #89
Ok thanks, I will try "Best fit" again.

[2017-05-15 19:42] qrilka commented on #88
@stla you do something special here - with this example I get `We couldn't save your file as Google Sheets at this time.` from Google Sheets and OneDrive was not showing up the file when I was uploading it but F5 resolved the problem. So it looks like there's something not quite well documented here :(

[2017-05-15 21:43] qrilka commented on #83
@stla I haven't tested it but could this done with this shorter snippet?
[code]
BTW what's `FormattedCellMap` in your code? I suppose `M.Map (Int, Int) FormattedCell`?

[2017-05-15 22:04] stla commented on #88
Many weird things. I've also noticed that the location of the anchor is different between Excel and LibreOffice.

[code]

*Excel:*
![powerexcel](https://cloud.githubusercontent.com/assets/4466543/26081410/f93dc71e-39ca-11e7-9b6d-98c7bd0dfe64.png)

*LibreOffice*:
![powerlibreo](https://cloud.githubusercontent.com/assets/4466543/26081454/1d9a1c48-39cb-11e7-98c5-0da84b35bbd1.png)

Anyway that's great

[2017-05-16 15:05] stla commented on #83
Yes, your clean code works. Thanks ! You can even remove `fWss`.
Yes, you have the right guess about `FormattedCellMap`.

[2017-05-17 04:35] stla commented on #87
Ok. Anyway it works.
I've installed on Linux yesterday, without issue.

[2017-05-17 04:35] #87 closed

[2017-05-31 13:43] Shimuuar opened #90 "xlsx cannot parse file produced by google sheets"
It fails with error `InvalidFile`. Here is link to the file https://www.dropbox.com/s/i5b65fzf1roeebt/testcase.xlsx?dl=0

LibreOffice calc can open it successfully though

[2017-05-31 18:32] qrilka commented on #90
Thanks @Shimuuar for reporting, I'll try to find some time to dig into it

[2017-05-31 21:11] qrilka commented on #90
Fixed by 2f1e96f

[2017-05-31 21:11] #90 closed

[2017-05-31 21:11] qrilka commented on #90
I guess it's time for a new release with these not quite backwards compatible changes

[2017-05-31 21:13] qrilka commented on #88
@stla regarding that location difference - could you check the latest master? I suppose this thing could get fixed by 11f916a
BTW what else do you need to close this ticket?

[2017-05-31 21:14] qrilka commented on #88
And sorry for a quite late reply

[2017-06-01 09:29] stla commented on #88
Hi @qrilka
I'm going to try the latest commit now.
I have renamed the title of this thread. It will look less messy like this and we can close it.

[2017-06-01 09:51] stla commented on #88
I've tried through [my library jsonxlsx](https://github.com/stla/jsonxlsx).

[code]
This looks perfect !

**Excel:**

![aexcel2](https://cloud.githubusercontent.com/assets/4466543/26674342/74f208e6-46c0-11e7-9289-4694724f918b.png)

**LibreOffice:**
![alo2](https://cloud.githubusercontent.com/assets/4466543/26674359/8545d060-46c0-11e7-938f-80986767f593.png)

[2017-06-01 09:53] stla commented on #88
This even fixes another bug. Previously in Excel it was not possible to have the top-left corner in column A. Before this commit the above command gave:
![aexcel](https://cloud.githubusercontent.com/assets/4466543/26674446/cf27ef06-46c0-11e7-8a25-99647f26cbd1.png)

[2017-06-01 09:53] #88 closed

[2017-06-01 10:42] stla commented on #88
@qrilka
Did you change something regarding the encoding? Previously with my library `jsonxlsx` I had no issues with UTF8 characters, but now they are not correctly rendered in the XLSX file.

[2017-06-01 10:49] stla commented on #88
No sorry I'm not sure. In fact I call `jsonxlsx` from `R`, maybe this issue is from my `R` code actually.

[2017-06-01 12:10] stla commented on #88
That's fine, I fixed my encoding issue with the help of `Data.ByteString.Lazy.UTF8.toString`. This had nothing to do with the update of `xlsx`.

[2017-06-01 14:58] qrilka commented on #88
Thanks for the news @stla
Glad to see that it works for you.

[2017-07-07 10:07] romildo opened #92 "Add functions for conversion between Date and Double"
`Date` fields in worksheets are available as `Double`. Please, add functions to convert from `Double` to a `Date` type and vice-versa.

[2017-07-07 14:42] qrilka commented on #92
thanks @romildo for reporting this, actually I thought about this almost from the time I started working on this library but probably didn't have much motivation to work on it. If you have something ready - I'll be glad to have a PR otherwise I will start looking into it soon.

[2017-07-07 18:55] stla commented on #92
I use this module, requiring the `dates` library.

[code]

[2017-07-07 20:05] romildo commented on #92
I have written the following to convert a `Double` value to an `UTCTime` value:

[code]

Example of use:
[code]

@qrilka
As I have just started using `xlsx`, I do not know much of its structure. So I do not know the best place for this code. With some hint I can write a PR.

[2017-07-08 12:15] qrilka commented on #92
@romildo I like that code. It look like Excel is a bit more complicated than this but adding 1 more base should be easy (addin "base" parameter but we'll need also to have that workbook property being supported - I could add it on top of your PR), quoting the spec (it's a pity that ECMA publishes only pdfs):

Regarding the code structure - `Codec.Xlsx.Types.Common` looks like a suitable module for

[2017-07-26 01:38] blargg commented on #73
Couldn't find it in a spec anywhere, but this stack overflow post suggests that the 0th and 1st indices are reserved. https://stackoverflow.com/a/11118442. Strange design, but it seems to be the expected behavior.

Based on my understanding, it could be safer to auto populate the reserved styles, but haven't looked into this much.

[2017-07-26 08:29] Shimuuar opened #94 "Add support for error values"
Error values are not decode currently.  They have type tag "e" and string value. Following errors do occur in excel: `#NULL!`, `#DIV/0`, `#VALUE!`, `#REF!`, `#NAME?`, `#NUM!`, `#N/A`. I'm not sure whether this list is exahaustive

Example cells with errors:
[code]

[2017-07-26 19:18] qrilka commented on #73
thanks @blargg for the link
PR with with some way to populate the reserved styles or at least add haddock describing the issue will be highly appreciated

[2017-08-03 20:51] qrilka commented on #92
Resolved by #95

[2017-08-03 20:51] #92 closed

[2017-08-04 00:27] romildo commented on #92
@qrilka thank you.

[2017-08-04 14:14] Shimuuar opened #96 "xlsx is unable to parse `Expression` cond. formatting rule"
Attached file contains following CF rule:

[code]

xlsx parses it as `fromList [(SqRef [CellRef{unCellRef = "A1:D10"}], [])]`

[CFR2.xlsx](https://github.com/qrilka/xlsx/files/1200643/CFR2.xlsx)

[2017-08-06 12:39] #96 closed

[2017-08-08 13:52] Shimuuar opened #97 "Not all conditional formatting rules are implemented"
Following conditional formatting rules are not implemented:

### Above/below Average
This conditional formatting rule highlights cells that are
above or below the average for all values in the range.

### Color Scale
This conditional formatting rule creates a gradated color scale   on the cells.

### Icon Set
This conditional formatting rule applies icons to cells according to their values.

### D

[2017-08-09 19:55] #94 closed

[2017-08-29 13:31] qrilka commented on #97
Resolved by 6fba02a08a90c57e25d31253221c8b06801bf73c

[2017-08-29 13:31] #97 closed

[2017-09-17 13:36] Shimuuar opened #98 "Support for import/export of filter"
I'm speaking about this feature:

https://support.office.com/en-us/article/Filter-data-in-a-range-or-table-01832226-31b5-4568-8806-38c37dcc180e

[2017-09-17 13:54] qrilka commented on #98
As far as I remember it was implemented in http://hackage.haskell.org/package/xlsx-0.6.0/docs/Codec-Xlsx-Types-AutoFilter.html
Please let me know if you see something missing (or maybe just implemented incorrectly)

[2017-09-17 14:03] Shimuuar commented on #98
I missed that module somehow. But from cursory look it seems that it's not complete implementation. Judging by excel's menus it should be much more complicated. I'll come back tomorrow with more information

[2017-09-17 15:17] qrilka commented on #98
@Shimuuar I think I implemented options which are (or were) available in Google Sheets

[2017-09-19 17:27] Shimuuar commented on #98
I uploaded example file with all value-based filters supported by excel 2013. I think it would be nice to support them all

[filters_example.xlsx](https://github.com/qrilka/xlsx/files/1315211/filters_example.xlsx)

[2017-09-19 17:41] qrilka commented on #98
Thanks

[2017-09-19 21:01] qrilka commented on #98
Actually @Shimuuar it looks that almost all of those filters are already implemented. The only condition type from your file which is not yet present in the library is `dynamicFilter`. And the spec also contains definitions of filters `dateGroupItem`, `colorFilter`, `iconFilter` and `top10`. It you don't have any objections I'll try to get complete implementation

[2017-09-20 05:44] mgsloan opened #99 "Pivot tables exported from Excel 2016 lack requisite information"
I've tried exporting a pivot table from Excel 2016, and importing via this package.  The cells in the pivot table do get imported.  However, the pivot table configuration does not get properly imported.  Instead, I get:

But the pivot table had a row field, a column field, and a value field.

[2017-09-20 07:48] Shimuuar commented on #98
@qrilka No objections at all

[2017-09-20 10:55] qrilka commented on #99
@mgsloan could you post a sample xlsx file so I could check out what's going on?

[2017-09-23 05:05] mgsloan commented on #99
Hey!  Sorry for the silly example, was experimenting with duplicate header names

![sloan_excel_dup_screen](https://user-images.githubusercontent.com/22570/30770299-fb321be2-9fe1-11e7-8cf1-3e998886f9f1.png)

[Sloan_excel_dup.xlsx](https://github.com/qrilka/xlsx/files/1326296/Sloan_excel_dup.xlsx)

[2017-09-23 06:43] qrilka commented on #99
thanks, I'll take a look into it later today

[2017-09-23 12:58] qrilka commented on #99
Yep, it's a bug in parsing here - I was using wrong assumption.
I'll try to find a good way around it.

[2017-09-23 16:59] qrilka commented on #99
14b6172 fixes this issue :
[code]
please let me know if there will be any other issues with it.
Thanks

[2017-09-23 16:59] #99 closed

[2017-09-24 01:30] mgsloan commented on #99
Awesome, thanks for the quick fix!

[2017-09-26 13:52] Shimuuar opened #100 "Performance improvement for xlsx parser"
This is rather vague and open ended. But it would be very nice to improve performance of parser. Parsing of large documents (thousands of rows, >1MB in file size) takes tens of seconds. It would be very nice to improve performance.

I'm filing this issue as catch-all for further discussion.

[2017-09-27 15:07] Shimuuar opened #101 "Implement support for shared formulas"
I'm speaking about feature like:

[code]

Looks like it's known problem as haddock have

[2017-09-27 18:15] qrilka commented on #101
@Shimuuar probably you have some real life example file from Excel?

[2017-09-27 18:35] Shimuuar commented on #101
Here it is: [Work+Document+Anon2.xlsx](https://github.com/qrilka/xlsx/files/1338338/Work.Document.Anon2.xlsx)

It's fairly rich in features and conveniently large.

[2017-09-27 18:36] Shimuuar commented on #101
Here it is: [expr-import.xlsx](https://github.com/qrilka/xlsx/files/1338349/expr-import.xlsx)

It's stripped down example

[2017-09-29 22:34] qrilka commented on #98
Resolved in 25c0689d5a00b33f44c848f486d55deb6f5078b7

[2017-09-29 22:34] #98 closed

[2017-09-30 20:58] stla opened #103 "bug: xlsx drops the first row of this file"
Hello,

 The first row of [this file](https://www.dropbox.com/s/3717azf93o4ayg3/bug.xlsx?dl=0) is not returned by `xlsx`:

[code]

![capture](https://user-images.githubusercontent.com/4466543/31049420-d1daf56e-a632-11e7-8ba2-c5f775f1b364.PNG)

But if I open and save the file with Excel, then `xlsx` correctly read the new file. Looks like Excel corrects something in this file.

[2017-09-30 21:33] qrilka commented on #103
Hi @stla what's the source of this file? It's the first time I see `inlineStr` cell value type being used :)
I've seen it listed in the spec but thought that it wasn't really used (like `d` for date type)
It shouldn't be very hard to add but I'm not sure how fast I could do that. Is it very critical for your code?

[2017-09-30 23:08] stla commented on #103
Hi @qrilka ,
This file was created by the Javascript library `datatables`. You can try it here (the "Excel" button): https://datatables.net/extensions/buttons/examples/initialisation/export
It's a bit embarassing that `xlsx` cannot read such a file. But that's nice if you can fix that in the future, there's nothing urgent.

[2017-09-30 23:37] stla commented on #103
This works if I replace
`<c t="inlineStr" r="B2" s="2"><is><t>Position</t></is></c>`
with
`<c t="str" r="B2" s="2"><v>Position</v></c>`

So it should be easy to get this output by hacking the JS library.

[2017-10-01 06:38] qrilka commented on #103
ok, thanks @stla

[2017-10-07 12:13] qrilka commented on #101
Resolved by d40bfb2

[2017-10-07 12:13] #101 closed

[2017-10-07 13:42] qrilka commented on #103
BTW @stla that use of `str` type isn't quite correct - it's purpose is for formula results which give string result (and contain precomputed value)

[2017-10-07 13:43] qrilka commented on #103
Resolved in 7e8d24c8c718ed8381cd4e53f4dada37ffb2d259

[2017-10-07 13:43] #103 closed

[2017-10-09 22:03] qrilka commented on #100
It appears that the main slowness comes form xml parsing with `xml-conduit` and my current idea is try out switching to `hexpat` though such move would be quite an effort.

[2017-10-15 12:58] qrilka commented on #100
It appears that SAX interface of `xml-conduit` gives quite a good performance but that means that parsing needs to be changed. I suppose that changing worksheet parsing should be enough so existing code using `ToElement`/`FromCursor` could stay used for not large xml files.
@Shimuuar could you give some real-life large xlsx files so I could check them out and use for tests?

[2017-10-24 11:12] Fuuzetsu commented on #100
@qrilka Find below an example XLSX file: it is merely 26 columns with single character in them copied down 6000 rows. When I was profiling `xlsx`, at the point of `xml-conduit:parseLBS` it was using nearly 800MB of memory and took 30 seconds (with profiling and heap profiling on mind you). I have experimented before with other parsers: `hexpat` results in even worse memory usage (`.Extended` used

[2017-10-24 11:27] qrilka commented on #100
thanks for your report and file @Fuuzetsu , my preliminary tests of SAX parser show quite good numbers but as parsing of quite a lot of details needs to be ported it takes some time. Probably I should work on porting cell  parsing measure the result so it will be clear if the direction I choose is a good one.

[2017-10-24 11:51] Fuuzetsu commented on #100
@qrilka do you have any idea about time that will be needed? days, weeks, months? Would like to know if we should invest time alternatives for medium-term.

[2017-10-24 12:46] qrilka commented on #100
I hope that I could get at least cell parsing and some estimates later this week and if the numbers will be OK the process will be almost mechanical (though e.g. I found 1 bug in data validation parsing already) so I should be able to get it done next week

[2017-10-27 22:50] qrilka commented on #100
@Fuuzetsu @Shimuuar unfortunately it appears that my hope was from a fault in my benchmarks. The result was no good at all.
So in the end I created https://github.com/qrilka/sheet-parsing-tests to track my benchmarking efforts and both `xml-conduit` and `hexpat` are way too slow, using worksheet from the xlsx above on my machine I see:
[code]
so in result even SAX with hexpat is just slightly than

[2017-10-28 01:06] Fuuzetsu commented on #100
2x is much better than 0. How is memory looking?

Unsure if hexml is sufficient feature wise, it's very minimal...

[2017-10-28 12:31] qrilka commented on #100
For smaller file I get the following numbers with `weigh`:
[code]
larger memory consumption of hexpat/SAX is probably due to not quite best code in that example fiddling with lazy list of SAX events. And overall SAX variant looks to be too error-prone to be worth 20% difference (and for larger parsing code it could get even smaller). That probably could be improved by using arranging some neater i

[2017-10-29 00:31] Fuuzetsu commented on #100
Awesome, keep us updated!

[2017-10-29 17:39] qrilka commented on #100
So the latest results look like:
[code]
So the difference between the current `xml-conduit` cursor approach and `hexml` parsing is about 6 times. At the same as `hexml` is not quite XML-compliant I think it could make sense to add `toXlsxFast` function which will use `hexml` for sheet parsing (with entities decoding added). From the other side that would mean almost 2 times more parsing code and a

[2017-10-30 09:49] Fuuzetsu commented on #100
Are these numbers for the same XLSX as the ones above or the smaller sheet you mentioned? If latter, then I assume xml-conduit/stream is the baseline with have today; or is that after you have made some improvements?

Of course 6x of both time and space is a big factor so ideally would use that…

There's `xeno/DOM` in your results which does very well. You also have to remember that `hexml` is mos

[2017-10-30 11:08] qrilka commented on #100
Mmm, I'm not sure what improvements you mean @Fuuzetsu
Parsing code is quite basic - see https://github.com/qrilka/sheet-parsing-tests but it's the main part where xlsx parsing is done.
Regarding `xeno` - currently it doesn't work well with XML prologue - it's mentioned in tests repo README. I wanted to fix it (to make it work like `hexml` does) but didn't manage that yet and also @ocramz who is c

[2017-10-30 11:18] ocramz commented on #100
Hi @qrilka , didn't have much time for this as of late, but I'm always fine with reviewing and merging patches

[2017-10-30 11:21] qrilka commented on #100
oh that's great to hear @ocramz thanks

[2017-11-06 17:57] Anarchist666 opened #105 "CellMap containing мany cells"
To create a book with 6000 cells (including text containing) I need to create a map using fromList. At such values, the heap overflows.

[2017-11-06 18:29] qrilka commented on #105
@Anarchist666 do care to create an example? E.g. file from https://github.com/qrilka/xlsx/issues/100#issuecomment-338956099 takes some time to be parsed but it shows no heap overflows with 6000826 cells though with repetitive content

[2017-11-06 18:55] Anarchist666 commented on #105
Not parse exist file. I have list with 6000 cells (1000 rows x 6 columns) and list indexes: `indexes   = [ (x,y) | x <- [1, 2 .. ], y <- [1, 2 .. 6]]`. Then i create CellMap: `cells_map = M.fromDistinctAscList $ zip indexes cell_list`. Cells create: `def & cellValue ?~ CellText (T.pack value)`. 8Gb memory overflows.
I tried to use Lazy and Strict Map

[2017-11-06 19:27] qrilka commented on #105
@Anarchist666 what is in that `cell_list` and why do you do `T.pack` for values?
E.g. for

[code]
I get
[code]
And those are values for allocated RAM, not peak consumption.
I.e. maps themself for such small number of elements should not give any noticeable overhead. So I suppose that the main place where you get memory consumed are those `Text` values you put into cell maps. But as you don't show

[2017-11-07 06:25] Anarchist666 commented on #105
Really it turned out in `Data.Text.pack`. Now I'm using strict fields of my data types, and memory, and memory allocation is normal.

[2017-11-07 06:25] #105 closed

[2017-11-07 07:56] qrilka commented on #105
Good to hear that it was resolved @Anarchist666
Please feel free to file other issues with `xlsx` if you find any.

[2017-11-11 19:12] qrilka commented on #100
So the current result for that 6000 x 26 file above looks like:
[code]
which looks like we get 6x speedup from using `xeno` for parsing.
Actually that "fast" version is not yet 100% complete and parses only cells and row properties. But that part is more than 90% of all parsing for large sheets so adding other sheet details should not add much

[2017-11-12 06:09] Anarchist666 opened #106 "List of Formatted"
The `Formatted` has `formattedCellMap` and `formattedStyleSheet` named fields. The `Xlsx` has `_xlSheets `(list of sheets) and `_xlStyles` (not a list) named fields.
If I has list of `Formatted`, how I can merge their `formattedStyleSheet :: StyleSheet` into one`_xlStyles :: Styles`?

[2017-11-12 07:04] qrilka commented on #106
There is #83 about doing formatting on multiple sheets. See my last comment there.

[2017-11-12 08:55] Anarchist666 commented on #106
Thank you, chaining function work perfectly in my case. But, may be add `[StyleSheet] -> StyleSheet` function using `updateStyleSheetFromState` and `stateFromStyleSheet` eg?

[2017-11-12 11:14] qrilka commented on #106
I'm not against adding some helper to format multiple sheets, probably just that `chaining` function just renamed to `formattedSheets`.
I'd be glad to get a PR.
But overall what about closing this issue and continue duscussion in #83 if you have more comments on the topic?

[2017-11-12 12:14] #106 closed

[2017-11-12 12:43] Anarchist666 commented on #83
If you just add chaining as `formattedSheets`, then why `Formatted` will be needed? `formatted` function creates the `Formatted`, but in `chaining` `Formatted` not used. Probably, in this case `formatted` is necessary for use private `updateStyleSheetFromState`. Either you need to change `Formatted` for support multiple sheet, which is probably very difficult.

[2017-11-12 21:29] qrilka commented on #83
@Anarchist666 have you seen by 1st answer in this topic about the origin of `Formatted` module?
Overall you're right and with this helper `Formatted` record won't be strictly required.
But even having that I'd like to keep code at least backward compatible and I'm not 100% sold that this helper could cover all use cases of `formatted`+`Formatted`.

[2017-11-13 02:54] Anarchist666 commented on #83
I think `Formatted` and `formatted` is high level API, but `chaining :: [M.Map (Int, Int) FormattedCell] -> ([Worksheet], StyleSheet)` is low level API. Using `formatted` from high level in  `chaining` looks like dirty hack. If  high level API not ready yet, may be create low level function for supporting multiple sheets.

[2017-11-13 05:10] qrilka commented on #83
How could `formatted` and `Formatted` be high level API when it's just intermediate step to get worksheets with formatting and corresponding stylesheet? And I don't understand why could you need some low level function for multiple sheets and what could it be...

[2017-11-13 05:50] Anarchist666 commented on #83
Ok, i am understood that the `Map (Int, Int) FormattedCell` is a part of high level API. If `_wsCells :: CellMap` and , `_wsMerges :: [Range]` is a part of `Worksheet` then may be made:

`data Formatted = Formatted
    { worksheets :: [Worksheet]
    , formattedStyleSheet :: StyleSheet
    } deriving (Eq, Show, Generic)`

[2017-11-13 06:00] qrilka commented on #83
That sounds like a good idea but as I've said - I'm not (yet?) totally convinced that we could just get rid of previous `formatted`+`Formatted`. Also this will be a non backwards compatible change.
@njeisecke @stla do you have any thoughts on such an idea?

[2017-11-13 09:26] njeisecke commented on #83
I'm fine with the example given by @qrilka which can easily be adapted to everyone's need. All API is here and ready to be used. If that example had been part of the docs I would not have raised this issue at all.

[2017-11-20 15:44] Anarchist666 commented on #83
Оne of the options:

[code]
But marked as depricated.

[2017-11-20 19:19] qrilka commented on #83
@Anarchist666 I don't quite understand why could we need this. The current `Formatted` was designed to be used with `formatted` which works for 1 sheet. With `formatSheets` (named `chaining` above) imo it looks OK to have just ([Worksheet], StyleSheet) as a return value. So my idea is to add that and deprecate `Formatted`/`formatted` and remove them in the version after the next one.
If there will

[2017-11-21 05:46] Anarchist666 commented on #83
I thought you were worried about backward compatibility.

[2017-11-21 05:56] qrilka commented on #83
Keeping but deprecating old API for 1 release is normal practice, do you see any issue with it?

[2017-11-21 06:15] Anarchist666 commented on #83
Apparently I misunderstood.

[2017-11-25 07:48] #100 closed

[2017-12-20 21:45] Fuuzetsu opened #108 "toXlsxEitherFast is not exported"
As title says.

[2017-12-21 05:45] #108 closed

[2018-01-17 21:51] dixie opened #110 "Large values in CellDouble are not correctly represented in generated xlsx file."
Hello,
Thanks for useful library!

It seems there is either a problem with large Double values or I misunderstood something. Values are somehow 'rounded' for example instead of 911090031.0 is in cell a value 910000000.
I'm using xlsx 0.6.0.

See this example, in generated excel is value "910000000" :

{-# LANGUAGE OverloadedStrings #-}
module Write where
import Codec.Xlsx
import Control.Lens
impor

[2018-01-17 22:26] qrilka commented on #110
Thanks @dixie for your report - I'll look into it next week when I'll get back home from my vacation

[2018-01-18 17:59] dixie commented on #110
Thanks for quick response, No problem. It seems this part of code is causing a touble:

txtd :: Double -> Text
txtd v | v - fromInteger (floor v) == 0 = toStrict . toLazyText $ formatRealFloat Generic (Just 0) v
       | otherwise = toStrict . toLazyText $ realFloat v

formatRealFloat and realFloat are functions from Data.Text.Lazy.Builder.RealFloat.

Behavior of that "integer branch" is following

[2018-01-22 21:09] qrilka commented on #110
@dixie I think you're quite right  - do you want to create a PR?

[2018-01-23 12:51] dixie commented on #110
@qrilka No, thank you. I don't have now a necessary configuration for git/github.

[2018-01-23 13:06] qrilka commented on #110
Ok, no problem, will do that later today

[2018-01-24 10:25] qrilka commented on #110
Fixed by e3774a62a0762affaa1129e9b83efdec372408a6

[2018-01-24 10:25] #110 closed

[2018-02-04 16:35] yugawara opened #112 "Do you have a working example that can produce pivot tables?"
Hi,
The xlsx file with a pivot table that I saved using this library won't open normally in Excel 2016. ( I haven't treid yet with any other version).  Although the file does open in the end after accepting recovery options, I get this error message:

Repaired Records: PivotTable report from /xl/pivotCache/pivotCacheDefinition1.xml part (PivotTable cache)

I am trying to create an Excel worksheet

[2018-02-04 18:21] qrilka commented on #112
HI @yugawara
Could you share your code maybe?
Actually  I planned to add something like "examples" directory for different xlsx features.
As for pivot tables - it looks like something's incorrect my test file - https://gist.github.com/qrilka/0f11a6220db6e263a6c539bff2f8fd04 fails with Excel Online.
I'll look into it - previously pivot tables were loading well with Excel.

[2018-02-05 00:44] yugawara commented on #112
Hi Thanks for the quick reply!

Let me attach the sample program that recreates the problem.

From: Kirill Zaborsky [mailto:notifications@github.com]
Sent: Monday, February 5, 2018 3:21 AM
To: qrilka/xlsx <xlsx@noreply.github.com>
Cc: Yasuaki Kudo <yasu@yasuaki.com>; Mention <mention@noreply.github.com>
Subject: Re: [qrilka/xlsx] Do you have a working example that can produce pivot tables? (#112)

[2018-02-05 01:30] yugawara commented on #112
Hi, the attachment in the original email didn't work so I updated the comment above.   The link to the zip file is: [xlsxpivot.zip](https://github.com/qrilka/xlsx/files/1693551/xlsxpivot.zip)

[2018-03-03 21:23] qrilka commented on #112
hi @yugawara
Sorry for such a late reply
I can share a valid code example - https://gist.github.com/qrilka/a4a7bca9cbfc918083e72b5c5a48f835
I'll check out your code

[2018-03-03 21:54] qrilka commented on #112
I think I have found a problem - it looks like integer values in pivot tables need some special treatment, I'll try to get a fix for it, otherwise your code looks OK

[2018-03-12 00:57] DanBurton opened #113 "xlsx-0.7.0 test suite failure with conduit-1.3"
As seen on the Stackage build server:

[code]

I was able to reproduce locally like so:

[code]

[code]

It is unclear to me whether this is a testing fluke, or a legitimate regression in xlsx or one if its dependencies (xml-conduit, perhaps?). For now, I will mark xlsx as an expected test failure on Stackage.

[2018-03-12 01:11] DanBurton commented on #113
Sorry, edited the title. This is a test suite failure, not a build failure.

[2018-03-12 05:53] qrilka commented on #113
Thanks @DanBurton for letting me know, I'll look into it

[2018-03-14 10:00] qrilka commented on #112
@yugawara 0553914440aac750ee8ccff92ee1008750de7936 fixes problem with integers, please let me know if it works for you, otherwise I think we could close this ticket

[2018-03-16 20:31] qrilka commented on #112
Closing as fixed, feel free to open more issues if you stumble upon anything @yugawara

[2018-03-16 20:31] #112 closed

[2018-03-16 20:35] qrilka commented on #113
Fixed in 71be3e85c4ae3f1cd4d6c21778138cd82be401ad and released as 0.7.1

[2018-03-16 20:35] #113 closed

[2018-03-22 16:31] DanBurton opened #116 "xlsx-0.7.1 build failure with GHC 8.4"
Add semigroup instances
See also: https://ghc.haskell.org/trac/ghc/wiki/Migration/8.4#SemigroupMonoidsuperclasses

[code]

I was able to reproduce this locally like so:

[code]

[2018-03-22 18:10] qrilka commented on #116
Thanks

[2018-03-24 20:56] qrilka commented on #116
Fixed and released as 0.7.2

[2018-03-24 20:56] #116 closed

[2018-05-06 21:03] qrilka opened #117 "Add more examples"

[2018-07-06 16:44] Anarchist666 commented on #83
#118

[2018-07-28 17:20] qrilka commented on #83
Resolved by #119

[2018-07-28 17:20] #83 closed

[2018-10-12 12:23] dvekeman opened #122 "Richtext cell: single underlining in sharedstrings not recognized"
Hi

If I have a simple xlsx file with just one cell containing a single and double underline then only the double underline is recognized.
In case of a more complex xlsx file, things get structured differently and there it seems to behave correctly.

An example:

excel:
*A1*
[code]

sharedstrings.xml

[code]

Note: I haven't checked the specs as to whether my version of excel actually wrongfully e

[2018-10-13 14:38] qrilka commented on #122
Somewhat related to #69 - probably there are some other attributes with default values.

[2018-10-15 19:28] #122 closed

[2019-05-22 03:58] tonyday567 opened #126 "external references in formula"
Hi,

Reading formula, I get instances of something like `[1]Sheet1!A1` and I would guess that this is a shared reference to an external workbook.

How and where would I find what this reference is? I saw the Relationship type, but wasn't sure how to extract a relationship from an Xlsx.

[2019-05-22 08:45] qrilka commented on #126
Hi @tonyday567
Currently `xlsx` doesn't do any formula parsing so `Formula` is just a newtype wrapper around `Text`.
According to ECMA spec (section "18.17.2.3 Cell References") it looks like you're right but probably `xlsx` need some extra tweaks to allow you to deal with such external references (they should exist in `externalReferences` of a `workbook`).
If you could share an example I could ad

[2019-09-08 10:53] Paul1298 opened #127 "Add search ability to Hackage page"
Maybe it needs to update Haddock

[2019-09-09 20:07] qrilka commented on #127
Thanks for reporting, I'll try to check out what could be done here

[2019-09-15 09:25] qrilka commented on #89
@stla is there anything I could do regarding this issue? Otherwise I want to close it

[2019-09-15 09:27] qrilka commented on #7
I don't think I want to follow this anymore, closing

[2019-09-15 09:27] #7 closed

[2019-09-15 09:29] qrilka commented on #78
Closing this as resolved, if there is still something missing - pleas raise your voice

[2019-09-15 09:29] #78 closed

[2019-09-15 09:35] stla commented on #89
Hello @qrilka . I have not used `xlsx` for a very long time and I'm lost when I re-read this discussion.
So the conclusion was that we have to set `cpWidth` ?
Feel free to close this issue. Anyway it will be re-openable in case if.

[2019-09-15 09:47] qrilka commented on #89
Thanks

[2019-09-15 09:47] #89 closed

[2019-11-18 11:08] qrilka commented on #127
@Paul1298 the new release is on Hackage and it's searchable

[2019-11-18 11:08] #127 closed

[2019-11-18 21:57] Paul1298 commented on #127
Thank you!)

[2020-01-13 10:43] unhammer opened #129 "Depend on microlens instead of lens?"
Microlens has a quite a bit smaller dependency footprint than lens, but is often a drop-in replacement. See https://github.com/fosskers/microlens-aeson/#microlens-aeson for a visual comparison of the *-aeson versions. Would it be possible to have xlsx depend on microlens instead? It'd shorten our clean-build times quite a bit :)

[2020-01-13 20:59] qrilka commented on #129
I think the library doesn't use advanced features of `lens` so should be compatible with `microlens` but I don't think there is enough motivation to change the default lens library. Quite a lot of applications use it already or it could come with some other dependency.
But I'm OK with having a Cabal flag with which `lens` could be replaced with `microlens` if that won't change API significantly

[2020-04-15 07:49] amigalemming opened #130 "NonEmpty list of worksheets"
If I understand the ECMA standard correctly, then a Spreadsheet contains at least one worksheet.
Could we express this with types like so:

[code]

Maybe there are more occurrences of non-empty structures.

[2020-04-15 08:11] qrilka commented on #130
Thanks, with `NonEmpty` now in base this seems to be a good thing to look into. First look confirms your point:
[code]

[2020-04-15 13:25] amigalemming commented on #130
For now I will use this conversion as workaround:

[code]

[2020-04-15 21:38] qrilka commented on #130
It looks like this would be a rather large change as there are other places where the same holds, so looks to be a good idea for the next major version

[2020-08-20 09:56] yq0810 opened #131 "How to insert a row"
I didn't see a similar function

[2020-09-01 08:18] qrilka commented on #131
Hi @yq0810
Sorry for a late reply - was away on vacation.
Could you explain what "insert a row" mean for Excel? I'm asking because a row without any cells with values makes not much sense. As for inserting cell values see e.g. https://hackage.haskell.org/package/xlsx-0.8.1/docs/Codec-Xlsx.html
Let me know if this doesn't answer your question.

[2020-09-02 02:44] yq0810 commented on #131
Like this and follow the style
![image](https://user-images.githubusercontent.com/60505593/91926136-25082200-ed09-11ea-81b6-334cb9974a61.png)

[2020-09-02 05:37] qrilka commented on #131
It's not clear what exactly do you need - just insert numbers cells A1 to A9 and then A11 to A17.
If what you want is to move cells A10:A16 to A11:A17 and add an empty cell A10 then you need to do all of that by yourself - there's no magic instruction to do this in one go. It's like when you have C array (or Haskell vector) - you can't insert a value into middle of it moving all elements higher, y

[2020-10-12 14:23] jappeace opened #132 "Add writing support for large excell files (streaming?)"
We currently have to deal with massive excel files (100 000 to millions of rows).
Reading all this data into memory isn't feasible. 100 000 rows for example takes up 2 gigs of ram as Xslx representation, 1 is over 8 gig (our app crashed trying to do this).

If we could represent the file as a stream it would solve this problem. I'd suggest conduit because it combines with zip as well.

[2020-10-12 14:59] qrilka commented on #132
There was a ticket #7 about this
As there was no particular motivation it was closed.
If you're willing to contribute something like this I'd be glad to review the code.

[2020-10-13 07:06] jappeace commented on #132
Working around it now with csv but there is definitely some interest here from the business side to producing xslx files, so I'll be doing this in the future.

Your review and feedback would be appreciated :wink:

[2020-11-24 13:16] dten opened #134 "Writing default stylesheet to file results in excel complaining it's invalid"
this relates to the existence of `minimalStylesheet` and `def` for `Stylesheet`. using `def` will result in a file that cannot load.

This is also easily hit if for some reason you wrote out a file using `xlsx` and did not specify a stylesheet, an 'empty' stylesheet will be added. if you end up parsing that stylesheet and writing it back out it will be invalid also.

this seems to be because `dxfs

[2020-11-24 14:12] qrilka commented on #134
Thanks for raising this. What Excel versions result in that error? Does the example https://github.com/qrilka/xlsx/blob/master/src/Codec/Xlsx.hs#L22-L36 give you that error as well? Your words sound like you have an idea how to create a PR with a fix - do you want to open one?

As for me unfortunately I don't have a desktop version of Excel and I'm not sure how good enough is testing with the onli

[2020-11-24 18:24] dten commented on #134
I'm just using Excel 2013.

the example you list won't give the error because it doesn't serialise the `def` of `Stylesheet`. Instead it jump straight to the bytes `emptyStyles` gives https://hackage.haskell.org/package/xlsx-0.8.2/docs/src/Codec.Xlsx.Types.html#emptyStyles

which formatted looks like this

[code]

but serialising `def` of styles results in

[code]

which results in excel complaini

[2020-11-24 18:48] qrilka commented on #134
I need to take a look if there's anything in the spec about this or if it's another "feature" of the implementation. But if you have any concrete ways to improve the situation - PRs are welcome for sure.

[2020-11-25 13:59] qrilka commented on #134
@dten I had a look into the spec and I don't see anything there telling that the style above shouldn't be accepted. But I guess it still makes sense to take this implementation detail into account. The only idea I have right now is just removing the `Default` instance for `StyleSheet` altogether and publish it as something like `emptyStylesheet` with a huge warning saying that Excel won't accept i

[2020-11-25 23:03] dten commented on #134
So I think not writing out the empty elements would help. That would basically mean the special case from emptyStylesheet wasn't special

[2020-11-26 06:24] qrilka commented on #134
Sorry, do you mean that we just need to make `countedElementList` in https://github.com/qrilka/xlsx/blob/master/src/Codec/Xlsx/Types/StyleSheet.hs#L1145-L1152 skip produce no element if a list has zero elements? That looks doable and backwards-compatible as well.
But what about "the cases where Excel expects something non trivial specified so it's only a small help"? Do you think that mentioning s

[2020-11-26 08:46] dten commented on #134
I mean in the case where people start adding some elements to styles. The link in the docs explains that there is a point where Excel won't open the file because it only part of the stylesheet is specified.

http://hackage.haskell.org/package/xlsx-0.8.2/docs/Codec-Xlsx-Types-StyleSheet.html#v:minimalStyleSheet

[2020-11-26 09:00] qrilka commented on #134
Thanks. Yes the link explains some details but I think it's not prominent enough so it's easy to miss that part. I'll try to make it more explicit (e.g. mention that Excel has some not quite clear requirements about stylesheet contents). Would you mind me assigning you as a reviewer for a PR about this?

[2020-11-26 09:03] dten commented on #134
I'd be happy to

[2020-11-27 08:41] qrilka commented on #131
@yq0810 were you able to resolve this already or still need some help? With no response I'll close this late today.

[2020-11-27 08:42] qrilka commented on #129
@unhammer I think this was resolved in 0.8.2 by #133

[2020-11-27 08:42] #129 closed

[2020-11-27 10:45] unhammer commented on #129
Awesome =D

[2020-12-15 11:33] #134 closed

[2021-06-16 07:33] idontgetoutmuch commented on #132
I have just run into this problem and will probably now have to convert to the file to CSV and use streaming via cassava.

[2021-06-16 08:16] idontgetoutmuch commented on #132
@jappeace I notice you have done a lot of work here: https://github.com/jappeace/xlsx.

What I'd like to be able to do is read a row at a time e.g. to create a sum of a column. Is it possible to do this with your clone?

[2021-06-16 10:23] jappeace commented on #132
yes! Supercede is implementing this at the moment, the api is unstable but for reading it sort of works already here: https://github.com/SupercedeTech/xlsx [1]

We may change how the reading api works, (there are two engineers working on this now including me), but we settled on the shape of `SheetItem` at least so you can program against that (stuff maybe added). I'm working on writing xlsx as we

[2021-06-16 10:44] jappeace commented on #132
Let me know if you need help, have questions or any issues. It's really important for the company I work for to get this right :slightly_smiling_face:

[2021-06-16 16:15] idontgetoutmuch commented on #132
If you could show me how I would get e.g. rows 5, 6 and 7 from an .xlsx  file and also how I can process a table row by row that would be really helpful.

 At the moment I am using R to convert a tab in an .xlsx file to a .csv file and then using cassava with something like the following to get rows with indices in `is`:

[code]

https://hackage.haskell.org/package/cassava-0.5.2.0/docs/Data-Csv-St

[2021-06-17 06:47] jappeace commented on #132
First obtain a producer conduit from your xlsx file, probably you want to use [sourceFile](https://hackage.haskell.org/package/conduit-1.3.4.1/docs/Data-Conduit-Combinators.html#v:sourceFile). Then put that into [readxlsx](https://github.com/SupercedeTech/xlsx/blob/master/src/Codec/Xlsx/Parser/Stream.hs#L375).
Now you have a conduit of sheetItems, which you can [filter](https://hackage.haskell.org

[2021-06-19 14:36] #131 closed

[2021-06-19 14:38] qrilka opened #139 "microlens flag still builds lens as a dependency"
cc: @goodlyrottenapple
Found this in github actions logs for #138

[2021-06-19 15:34] #139 closed

[2021-07-27 17:50] Microtribute opened #141 "Hyperlink Support"
Is it possible to make a cell a hyperlink either to an external link or to a worksheet in the same document?

[2021-08-02 19:00] qrilka commented on #141
Hi @Microtribute
Sorry for a late reply - was away on my vacation.
Could you show me an example workbook so I could check out the details?

[2021-08-12 02:09] vst opened #142 "Leaking merge information across worksheets"
When using [`Codec.Xlsx.Formatted.formatWorkbook`](https://hackage.haskell.org/package/xlsx-0.8.4/docs/Codec-Xlsx-Formatted.html#v:formatWorkbook), it seems that the merge information is accumulating as new worksheets are added.

In the below example:

1. `fcm1` has a formatted cell at `(1,1)` with `colspan` being `2`, and
2. `fcm2` has a formatted cell at `(20,1)` with `colspan` being `2`.

[code

[2021-08-12 03:08] vst commented on #142
Issued a PR (#143) that *works for me*.

In summary, it resets merge information in `formatWorkbook` when starting to process new worksheet data.

[2021-09-13 14:10] MarceloZabini opened #145 "Handling dates before 1900-03-01"
Hi,

It seems even though 1900 is not a leap year, it is treated as such in Excel (see https://en.wikipedia.org/wiki/Microsoft_Excel#Fictional_leap_day_in_the_year_1900). The wikipedia page also mentions this has been carried over to the Open XML file format.

This means 1900-02-29 is a valid date in Excel, and dates before 1900-03-01 are all shifted one day ahead when they're generated by xlsx. I

[2021-09-13 14:38] qrilka commented on #145
In `xlsx` there is only a couple of helpers to convert dates to numbers but I guess that you're right and we don't have this "feature" of Excel supported correctly :)
I'd be glad to review a PR fixing this.

[2021-09-13 16:09] MarceloZabini commented on #145
Thanks for such a quick reply.

At our shop we're currently using a forked xlsx that you can see at https://github.com/proda-ai/xlsx/pull/1/files. I'm not sure it fixes the problem in the right place, and it doesn't yet handle conversion from excel to `UTCTime`. I can submit that PR with additions that fix the other direction, and I was thinking of adding those to `dateFromNumber`. Are there other

[2021-09-13 16:24] qrilka commented on #145
Sounds OK to me, just needs to be documented at least :)

[2021-09-17 20:57] #145 closed

[2021-10-20 12:01] jappeace opened #148 "Add newtype for column and row indexes"
This will allow us to create [smart constructors](https://kowainik.github.io/posts/haskell-mini-patterns) that check for values < 1.
These causes issues in excel (nasty warnings which give users the impression they're being hacked!)
Furthermore new types around these will no longer cause accidental confusion between rows and columns.

See discussion:
https://github.com/qrilka/xlsx/pull/144/files#r

[2021-11-10 14:19] jappeace opened #149 "Add integration test that checks correctness with xlsx validator"
My comment at verbatim:

[code]

It's this program: https://github.com/vindvaki/xlsx-validator

[2022-03-21 00:53] prikhi opened #151 "Support lens v5.1"
Hi, this package has dropped out of stackage nightly due to the release of lens v5.1. Can we get the version-bounds bumped for this package?

https://github.com/commercialhaskell/stackage/issues/6486

[2022-03-21 06:10] qrilka commented on #151
With streaming added and `xeno` fixed there should be a new release - I will try to find time for this, thanks for reporting

[2022-03-22 19:53] qrilka commented on #151
version 1.0.0 is released on Hackage

[2022-03-22 19:53] #151 closed

[2022-03-23 12:59] prikhi commented on #151
Thanks, I think for inclusion into stackage, we need to add `data/inline-strings.xlsx` to the `extra-source-files` block in the cabal file. I get this when trying to run stackage's `verify-package` script:

[code]

[2022-04-10 23:29] santiweight opened #153 "Hackage docs are broken"
The docs worked for version 0.8.4:

https://hackage.haskell.org/package/xlsx-0.8.4

but do not work for version 1.0.0.x:

https://hackage.haskell.org/package/xlsx-1.0.0

[2022-04-11 05:56] qrilka commented on #153
Please report this to Hackage maintainers, I have no idea how to debug their build failures

[2022-04-20 13:22] jappeace commented on #153
you can upload by hand with something like:

[code]

Needs to be done by a maintainer though.

[2022-04-22 15:19] qrilka commented on #153
@jappeace I have heard about this workaround but I think the problem could be about https://hackage.haskell.org/package/bzlib-conduit not having `pkgconfig-depends` specified but I'm not sure how to test this hypothesis.
That won't trigger haddocks rebuild though so probably I still need to use the workaround

[2022-04-22 16:39] qrilka commented on #153
You could ask Michael to checkout PR in https://github.com/snoyberg/bzlib-conduit
But I could test out with `xlsx` of course, I just don't think that it's where this should be fixed

[2022-04-22 16:50] jappeace commented on #153
I've a cunning plan, I'll rename respective packages in the cabal files so I can make my own candidates to debug

[2022-04-25 18:20] qrilka commented on #153
hi @jappeace did you have any success with your idea?

[2022-04-25 19:00] jappeace commented on #153
well, yes I got it building here: https://hackage.haskell.org/package/bzlib-conduit-jappie
but I asked on [discourse](https://discourse.haskell.org/t/how-to-debug-matrix-ci-failures/4420), and they told me to make an issue on hackage-server repository: https://github.com/haskell/hackage-server/issues/1064

[2022-05-10 13:04] qrilka commented on #153
I've uploaded haddocks to Hackage and closing this one in favor of haskell/hackage-server#1064
Thanks @jappeace for your help

[2022-05-10 13:04] #153 closed

[2022-07-15 13:25] jappeace opened #155 "We shouldn't be able to make sheetnames bigger then 31 characters."
The reason is that excell claims the worksheet "may contain a virus" if it detects this.
Excell validator explain this:

[code]

[2022-07-29 10:36] flhorizon opened #156 "Cell Range dataValidation problem"
Hello,

I'm working on a feature involving cell range data validation.

As it is in very version I've checked (0.7.2 we use to 1.0.0.1) `ValidationTypeList` only supports plain list dataValidation.

Cell range validation is basically a `< dataValidation type="list" ..>` too, with (unfortunately) nearly no difference with a plain list.

The only difference is that instead of a quoted comma-separate

[2022-07-29 11:38] qrilka commented on #156
Hi @flhorizon
Any suggestion are welcome but I'm not quite sure what you propose as a "patch" here. As Linus says "show me your code" :)
Also @emilaxelsson added data validation in #67 so probably he could also add his 5 cents.

[2022-07-29 12:43] flhorizon commented on #156
Hi @qrilka  :)

Here's what I have so far, working for me:

https://github.com/flhorizon/xlsx/pull/1

I've tried to be as conservative as possible, so as not to change the contents of the list of `ValidationTypeList [Text]` for the existing use case.

As current lib users aren't using cell range validation, it shouldn't break anything for them.

Unless.. they are and didn't care until now that it

[2022-07-29 13:43] flhorizon commented on #156
When I have a bit of spare time I'll implement the proposal extending the param type of `DataValidationTypeList` over 1.0.0.x

I guess there's no way to express in semver its backporting to 0.7.x and 0.8.x 😄

I'll admit the one with the formula header linked above (https://github.com/flhorizon/xlsx/pull/1) is a bit... lousy

[2022-07-30 18:26] qrilka commented on #156
Sure, take you time, small not though - I'm on vacation for a couple of weeks so could be not that fast with a response, otherwise - any contribution is welcome

[2022-08-12 18:02] flhorizon commented on #156
Hello,

I've finally ported my cellrange DV. code to master

https://github.com/qrilka/xlsx/pull/157

I've also needed support for absolute coordinates along the way so I've also added it too

[2022-08-22 10:06] flhorizon opened #159 "Still applying code formatting?"
Hello, in my other PRs I've tried to run `stylish-haskell` but it did incur massive changes over all the sources.

Would you like a PR for this?

[2022-08-22 15:00] #156 closed

[2022-08-25 05:35] qrilka commented on #159
Have you seen https://github.com/qrilka/xlsx#hacking ?

[2022-08-25 09:43] flhorizon commented on #159
Yes that's why I'm asking, because due to the amount of changes I didn't include formatting in my other MRs 😅

Looks like it hasn't been done for "a while" :)

[2022-08-25 10:11] qrilka commented on #159
since it was added there were not so many changes

[2022-08-25 11:47] flhorizon commented on #159
I'll make a formatting PR after we're done with ST_State

[2022-08-25 19:03] LTibbetts opened #160 "Errors creating pivot tables in separate sheets"
I have followed the examples for pivot tables from the test directory and have been able to successfully generate an xlsx file with a working pivot table. However, when I attempt to move the pivot table to a separate sheet, the writer throws the following exception.

[code]

If there is a working example of pivot tables being written to a different sheet, I would love to see it. Any help would be

[2022-08-25 19:25] qrilka commented on #160
@LTibbetts so far `xlsx` was supporting references to the same sheet in most of the cases, in #157 @flhorizon added some rudimentary support for cross-sheet references but I think none of usages were made aware of them.
Proper fix for this looks to require some effort (I guess we'd better make this visible on type level and not leave it to run time).
I'm not sure I will have time soon to tackle th

[2022-08-25 19:38] LTibbetts commented on #160
@qrilka Thanks for the quick reply! It is not important that I have the data and pivot table in different sheets, just a matter of stylistic preference, so I will continue with them in the same sheet. You may close the issue if you want too as I will likely not have the time to work on adding support for this, or leave it open for future users to find easily.

[2022-08-25 20:13] qrilka commented on #160
I think we should leave it as something that's better be fixed, thanks

[2022-08-25 21:57] flhorizon commented on #160
Hey

I didn't look into how PivotTable are actually meant to work, and whether cross-sheet CellRef should be involved.

But regarding that error, it seems like writer accumulator functions like `generateCache` should be able to access 2 cellMaps: the one of `_pvtSrcSheet` and the cellMap from the sheet that contains it.

The fact there's a single _pvtSrcSheet \<worksheetSource sheet="" ref=""\> hi

[2022-10-30 15:59] sternenseemann opened #165 "Test files missing in sdist"
Test suite can't be executed from the sdist as some test files seem to be missing from `extra-source-files`:

[code]

[2022-10-30 16:15] qrilka commented on #165
Oops, looks like I've missed it in #154 - will create a patch version a bit later

[2022-11-02 09:31] qrilka commented on #165
This was fixed in the patch release 1.1.0.1

[2022-11-02 09:31] #165 closed

[2022-11-04 14:12] sternenseemann commented on #165
Thanks!

[2022-11-04 14:16] qrilka commented on #165
Sure, thanks for raising it